@import '../../../vars';

.picon{
    position: relative;
}

.progress-icon{
    border-radius: 50%;
}

.progress-outline{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scaleX(-1);

}
