@import './../../../../vars.scss';

.btn{

    -moz-box-shadow:    0 5px 4px rgba(0,0,0,0.25) !important;
    -webkit-box-shadow: 0 5px 4px rgba(0,0,0,0.25) !important;
    box-shadow:         0 5px 4px rgba(0,0,0,0.25) !important;

    &:hover{
        color: $hyellow-light !important;
        background-color: #DCEFF0 !important;
    }
}
