
@import './vars.scss';

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
.coolscroll::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 100px;

}

/* Handle */
.coolscroll::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 100px;
}

.coolscroll.primary::-webkit-scrollbar-thumb{background: $primary !important;}
.coolscroll.hgreen::-webkit-scrollbar-thumb{background: $hgreen !important;}
.coolscroll.hblue::-webkit-scrollbar-thumb{background: $hblue !important;}
.coolscroll.hred::-webkit-scrollbar-thumb{background: $hred !important;}
.coolscroll.horange::-webkit-scrollbar-thumb{background: $horange !important;}
.coolscroll.hyellow::-webkit-scrollbar-thumb{background: $hyellow !important;}




/* Handle on hover */
.coolscroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
