@import './vars';
.App, #root{
    position: absolute;
    width: 100%;
    height: 100%;
}



.has-text-light2{color: $light2 !important;}
// .has-text-red{color: $red !important;}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    font-family: 'Inter', sans-serif;
}

.has-no-border{
    border: none !important;
}


.has-background-dark2{
    background: #0A0C0D !important;
    color: white !important;
}

.has-background-darkgradient{
    background: linear-gradient(353deg, #0E1319 0%, #2b3540 100%);
    color: white;

}

.has-cool-gradient{
    background: linear-gradient(135deg, #0E1319 55%, #2172E5 55%);
    color: white;
}
