.file-info{
    background: rgba(0,0,0,0.3);
    width: 100%;
    border-radius: 0 0 6px 6px;
}

.preview-icon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.download-btn{
    background: rgba(0, 0, 0, 0.2);
    transform: translate(2px, 5px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 1;
    position: relative;

    .icon{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

}


.delete-btn{
    float: right;
    transform: translate(-2px, 5px);
    right:  0;
    z-index: 1;

}

.display{
    height: 60px;
    position: relative;
}

.scrolldisplay{
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 115px;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;

}

.box.file{
    border-radius: 30px !important;
}
.filee{

    display: inline-block !important;
    width: 120px;
    min-width: 120px;
    max-width: 120px;

    // overflow-x: hidden;
}
