.dropdown-base{
    cursor: pointer;


    option{
        &:hover{
            background: rgba(0, 0, 0, 0.3)
        }
    }
}

.icon.down-arrow{
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
}
