@import '../../../vars';
.checkbox-config{
    -webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid $hblack;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	width: 20px;
    height: 20px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
    cursor: pointer;

    &:active, &:checked:active {
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    }

    &:checked {
        background-color: $hblack;;
        border: 1px solid #adb8c0;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
        color: #99a1a7;
    }

    &:checked:after {
    	content: '';
    	font-size: 14px;
    	position: absolute;
    	top: 50%;
    	left: 50%;
        transform: translate(-50%, -50%);
    	color: white;

        width: 16px;
        height: 16px;
        border: 2px solid white;
        border-radius: 50%;
    }
}

.sections{
    user-select: none;

    label{
        cursor: pointer;
    }

    ul li{
        padding: 5px 0px;
    }

    ul.sec-list{
         // display: none;

        &.is-active{
             // display: block !important;
        }
    }
}
