@import '../../../../vars.scss';

.reply{

    position: relative !important;
    overflow: visible;


    &::after{
        content:"";
        position: absolute;
        top: 0;
        left: 43px;
        height: 200px;
        width: 3px;
        z-index: 0;



        border-left: 3px solid $hgreen;
        z-index: 10;
    }
}
