.linput{
    background: #FBFBFB !important;

    -moz-box-shadow:    5px 5px 5px rgba(0,0,0,0.25) inset !important;
    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.25) inset !important;
    box-shadow:         5px 5px 5px rgba(0,0,0,0.25) inset !important;

    border: none !important;

    &::placeholder{
        color: #999999 !important;
    }
}

.loginb{

    -moz-box-shadow:    0 5px 5px rgba(0,0,0,0.25) !important;
    -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.25) !important;
    box-shadow:         0 5px 5px rgba(0,0,0,0.25) !important;

}

#loginCard{
    -moz-box-shadow:    6px 6px 5px rgba(0,0,0,0.25) !important;
    -webkit-box-shadow: 6px 6px 5px rgba(0,0,0,0.25) !important;
    box-shadow:         6px 6px 5px rgba(0,0,0,0.25) !important;
}
