.login-bg{
    background-image: url("../../../../temp/banner.png");
    background-position: center center;
    background-repeat:  no-repeat;
    height: 100%;
    //background-attachment: fixed;
    background-size:  cover;
}

.card-login{
    @media (min-width: 769px){
        min-width: 500px;
    }
}
