.black-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.8);

     z-index: 999;

     transition: 0.5s;
}

.is-transparent{
    opacity: 0 !important;
    z-index: -1 !important;
}
