.icon2{
    position: relative;
}
.notifi-ball{
    position: absolute;
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
    z-index: 10;
    background: #981715 !important;
    transform: translate(5px, -5px);
}

.not-visible{
    display: none !important;
}
