@import '../../../../../vars';
.createTab3{
    ul{
        border: none !important;

        li.is-active a{
            border: none !important;
            color: $hred !important;
        }

    }


}
