@import './../../../vars.scss';

.has-text-hgreen{color: $hgreen !important;}
.has-text-hblue{color: $hblue !important;}
.has-text-horgane{color: $horange !important;}
.has-text-hred{color: $hred !important;}

.has-background-hgreen, .is-hgreen{
    background-color: $hgreen !important;
    color: white !important;
}

.has-background-hgreen-light, .is-hgreen-light{
    background-color: $hgreen-light !important;
    color: white !important;
}

.has-background-hblue, .is-hblue{
    background-color: $hblue !important;
    color: white !important;
}

.has-background-hblue-light, .is-hblue-light{
    background-color: $hblue-light !important;
    color: white !important;
}

.has-background-horange, .is-horange{
    background-color: $horange !important;
    color: white !important;
}

.has-background-horange-light, .is-horange-light{
    background-color: $horange-light !important;
    color: white !important;
}

.has-background-hred, .is-hred{
    background-color: $hred !important;
    color: white !important;
}

.has-background-hred-light, .is-hred-light{
    background-color: $hred-light !important;
    color: white !important;
}

.has-text-hgreen{ color: $hgreen !important;}
.has-text-hgreen-light{color: $hgreen-light !important;}

.has-text-hblue{ color: $hblue !important;}
.has-text-hblue-light{color: $hblue-light !important;}

.has-text-horange{ color: $horange !important;}
.has-text-horange-light{color: $horange-light !important;}

.has-text-hred{ color: $hred !important;}
.has-text-hred-light{color: $hred-light !important;}

.createbtn{
    border-radius: 4px;
}
