@import './../../../../vars.scss';

.btn{

    -moz-box-shadow:    0 5px 4px rgba(0,0,0,0.25) !important;
    -webkit-box-shadow: 0 5px 4px rgba(0,0,0,0.25) !important;
    box-shadow:         0 5px 4px rgba(0,0,0,0.25) !important;

    &:hover{
        color: $primary !important;
        background-color: #DCEFF0 !important;
    }
}

.dropdown-menu{
    -moz-box-shadow:    0 5px 4px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 5px 4px rgba(0,0,0,0.25);
    box-shadow:         0 5px 4px rgba(0,0,0,0.25);

    border-radius: 4px;
}
