@import '../../../../vars';

.sub-btn{
    min-width: 40px !important;
    border: none !important;


    &::after{
        content:"";
        position: absolute;

        top: -25px;
        height: 50px;

        left: 22px;
        right: 0;
        border-left: 2px solid $hred-light;
        z-index: 0;
    }


}
