.notification-btn{

    &:hover .notification-panel{
        display: block !important;
    }
}

.notification-panel{
    position: absolute;
    left: 100%;
    display: none;
    //bottom: 0;


    &:after{
        content: " \25C4";
        position: absolute;
        top: 50%;
        font-size: 2rem;
        left: 10px;
        transform: translate(-100%, -50%);
        color: white;
    }


}
